<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <title>HiTech</title>
</head>
<body class="container">
    <header>
        <div class="accessibilty">
            <span>Options d'affichage/accessibilité</span>
            <span>Theme:
                <span>
                    <a href="#">sombre</a>
                    <a href="#">contrasté</a>
                    <a href="#">clair</a>
                </span>
            </span>
            <span>Interlignage:
                <span>
                    <a href="#">simple</a>
                    <a href="#">augmenté</a>
                </span>
            </span>
        </div>
        <div class="header_page">
            <div>
                <a href="#"><img src="../../public/ressources/images/logo.svg" alt="Logo Hi-Tech"></a>
                <h1>HiTech.NET</h1>
                <p>Tout le matériel High-Tech</p>
            </div>
            <form action="GET" >
                <input type="search" name="search_bar" id="search_bar">
            </form>  
            <div>
                <p><i></i>Mon compte</p>
                <p><i></i>Mon panier</p>
            </div>   
        </div>
        <nav class="shop_list ">
            <ul class="nobullets">
                <li><span class="shop-title "><i> </i> Ordinateurs</span>
                    <div class="scroll_menu_shop">
                        <ul class="nobullets">
                            <li><span class="shop_shelf title_little">Portables</span>
                                <ul class="nobullets">
                                    <li><a href="#">PC Portable</a></li>
                                    <li><a href="#">Macbook</a></li>
                                    <li><a href="#">Extension mémoire</a></li>
                                    <li><a href="#">Disque dur 2"1/2</a></li>
                                    <li><a href="#">Sacs & sacoches</a></li>
                                    <li><a href="#">Refroidisseur</a></li>
                                    <li><a href="#">Station d'accueil</a></li>
                                    <li><a href="#">Chargeur</a></li>
                                    <li><a href="#">Garantie</a></li>
                                    <li><a href="#">Batterie</a></li>
                                </ul>
                            </li>
                            <li><span class="shop_shelf title_little">Fixes</span>
                                <ul class="nobullets">
                                    <li><a href="#">Ordinateur PC fixe</a></li>
                                    <li><a href="#">Ordinateur Apple</a></li>
                                    <li><a href="#">Barebone</a></li>
                                </ul>
                            </li>
                            <li><span class="shop_shelf title_little">Tablettes</span>
                                <ul class="nobullets">
                                    <li><a href="#">Tablette</a></li>
                                    <li><a href="#">iPad</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><span class="shop-title"><i> </i> Périphériques & composants</span>
                    <div class="scroll_menu_shop">
                        <ul class="nobullets">
                            <li><span class="shop_shelf title_little">Périphériques</span>
                                <ul class="nobullets">
                                    <li><a href="#">Écran PC</a></li>
                                    <li><a href="#">Clavier/souris</a></li>
                                    <li><a href="#">Imprimante</a></li>
                                    <li><a href="#">Clef USB</a></li>
                                    <li><a href="#">Disque dur externe</a></li>
                                    <li><a href="#">Onduleur</a></li>
                                    <li><a href="#">Enceinte PC</a></li>
                                    <li><a href="#">Casque audio</a></li>
                                    <li><a href="#">Casque VR</a></li>
                                    <li><a href="#">Musique pro</a></li>
                                    <li><a href="#">Tablette graphique</a></li>
                                </ul>
                            </li>
                            <li><span class="shop_shelf title_little">Boitier</span>
                                <ul class="nobullets">
                                    <li><a href="#">Alimentation</a></li>
                                    <li><a href="#">Disque dur</a></li>
                                    <li><a href="#">Disque SSD</a></li>
                                    <li><a href="#">Carte mère</a></li>
                                    <li><a href="#">Carte graphique</a></li>
                                    <li><a href="#">Mémoire PC</a></li>
                                    <li><a href="#">Processeur</a></li>
                                    <li><a href="#">Refroidissement</a></li>
                                    <li><a href="#">Kit upgrade PC</a></li>
                                    <li><a href="#">Batterie PC portable</a></li>
                                </ul>
                            </li>
                            <li><span class="shop_shelf title_little">Imprimantes</span>
                                <ul class="nobullets">
                                    <li><a href="#">Cartouche</a></li>
                                    <li><a href="#">Toner</a></li>
                                    <li><a href="#">Ruban</a></li>
                                    <li><a href="#">Papier</a></li>
                                </ul>
                            </li>
                            <li><span class="shop_shelf title_little">Connectique</span>
                                <ul class="nobullets">
                                    <li><a href="#">Câbles PC</a></li>
                                    <li><a href="#">Adaptateurs PC</a></li>
                                    <li><a href="#">Parafoudre</a></li>
                                    <li><a href="#">Multiprise</a></li>
                                    <li><a href="#">Câble secteur</a></li>
                                    <li><a href="#">Câble HDMI</a></li>
                                    <li><a href="#">Switch HDMI</a></li>
                                    <li><a href="#">Adaptateur HDMI</a></li>
                                    <li><a href="#">Câble RJ45</a></li>
                                    <li><a href="#">Connectique RJ45</a></li>
                                    <li><a href="#">Câble RJ11/RJ12</a></li>
                                    <li><a href="#">Câble audio numérique</a></li>
                                    <li><a href="#">Câble audiophile</a></li>
                                    <li><a href="#">Adaptateur Audio</a></li>
                                    <li><a href="#">Câble audio Jack</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><span class="shop-title"><i> </i> Téléphones</span>
                    <div class="scroll_menu_shop">
                        <ul class="nobullets">
                            <li><span class="shop_shelf title_little">Mobile</span>
                                <ul class="nobullets">
                                    <li><a href="#">Mobile & smartphone</a></li>
                                </ul>
                            </li>
                            <li><span class="shop_shelf title_little">Accessoires</span>
                                <ul class="nobullets">
                                    <li><a href="#">Carte mémoire</a></li>
                                    <li><a href="#">Étuis</a></li>
                                    <li><a href="#">Kit piéton/casque</a></li>
                                    <li><a href="#">Batterie</a></li>
                                    <li><a href="#">Accessoires iPhone</a></li>
                                    <li><a href="#">Chargeur</a></li>
                                    <li><a href="#">Câble & adaptateur</a></li>
                                    <li><a href="#">Station d'accueil</a></li>
                                    <li><a href="#">Pile & chargeur</a></li>
                                    <li><a href="#">Batterie téléphone</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><span class="shop-title"><i> </i> Objects connectés</span>
                    <div class="scroll_menu_shop">
                        <ul class="nobullets">
                            <li><span class="shop_shelf title_little">Maison</span>
                                <ul class="nobullets">
                                    <li><a href="#">Caméra de surveillance</a></li>
                                    <li><a href="#">Détecteur & capteur</a></li>
                                    <li><a href="#">Kit alarme</a></li>
                                    <li><a href="#">Centrale multifonction</a></li>
                                    <li><a href="#">Enregistrement vidéo</a></li>
                                    <li><a href="#">Stations météo</a></li>
                                    <li><a href="#">Ampoule connectée</a></li>
                                    <li><a href="#">Enceinte connectée</a></li>
                                </ul>
                            </li>
                            <li><span class="shop_shelf title_little">Loisirs</span>
                                <ul class="nobullets">
                                    <li><a href="#">Drone</a></li>
                                    <li><a href="#">Gyropode</a></li>
                                    <li><a href="#">Accessoire drone</a></li>
                                    <li><a href="#">Montre connectée</a></li>
                                </ul>
                            </li>
                            <li><span class="shop_shelf title_little">Sport</span>
                                <ul class="nobullets">
                                    <li><a href="#">Montre running</a></li>
                                    <li><a href="#">Bracelet connecté</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>